<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>无可奉告邮箱帮助中心</title>
<link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="../static/css/docstyle.css">
<link rel="stylesheet" href="../static/css/prettify.css">
</head>
<body>
<header>
  <div class="container">
    <h2 class="docs-header"> 邮箱帮助中心</h2>
  </div>
</header>
<section>
  <div class="container">
    <ul class="docs-nav" id="menu-left">
      <li><strong>获取邮箱授权码</strong></li>
      <li><a href="#why" class=" ">为什么需要授权码？</a></li>
      <li><a href="#How" class=" ">如何获得授权码</a></li>
      <li class="separator"></li>
      <li><strong>操作指南</strong></li>
      <li><a href="#main_page" class=" ">主页</a></li>
      <li><a href="#mail" class=" ">邮件</a></li>
      <li><a href="#setting" class=" ">设置</a></li>
      <li><a href="#writting" class=" ">写信</a></li>
	  </ul>
    <div class="docs-content">
      <h2> 获取邮箱授权码</h2>
      <h3 id="why"> 为什么需要授权码？</h3>
      <p> 授权码是邮箱推出的，用于登录第三方客户端的专用密码。</p>
      
      <p> 适用于登录以下服务：POP3/IMAP/SMTP/Exchange/CardDAV/CalDAV服务。
         温馨提醒：为了你的帐户安全，更改密码以及独立密码会触发授权码过期，需要重新获取新的授权码登录。</p>
      <div id="How">
      <h3 id="how"> 如何获得授权码</h3>
      <p> 登录邮箱后，先进入设置－》帐户页面找到入口，按照以下流程操作。</p>
		<ul>
        <li>点击开启 </li>
		<p><img src="../static/images/1.jpeg" width="851" height="521"></p>
        <li>验证密保</li>
		<p><img src="../static/images/2.jpeg" width="464" height="323"></p>
		<li>获取授权码</li>
	    <p><img src="../static/images/3.jpeg" width="532" height="345"></p>
      </ul>
    </div>

		<h3 id="set"> 设置授权码</h3>
				<p>在第三方客户端的密码框里面输入16位授权码进行验证。</p>
      <hr>
      <h2> 操作指南</h2>
      <p> 邮件系统分为四个简单的模块：</p>
      <ul>
        <li>主页</li>
        <li>邮件</li>
		<li>设置</li>
        <li>写信</li>  
      </ul>
      <h3 id="main_page"> 主页</h3>
      <ul>
        <li>主页是欢迎界面。 </li>
		<p><img src="../static/images/4_1.jpeg" width="1661" height="828"></p> 
      </ul>
      <h3 id="mail"> 邮件</h3>
      <ul>
        <li>下滑或点击左侧按钮可以看到邮箱模块，邮箱模块分为垃圾箱和收件箱</li>
		   <p><img src="../static/images/4_2.jpeg" width="1661" height="828"></p> 
		    <li>点击详情查看邮件内容，点击删除可删除邮件</li>
		   <p><img src="../static/images/4_3.jpeg" width="1661" height="828"></p>
      </ul>
      <h3 id="setting"> 设置</h3>
      <ul>
       <li>再往下是设置模块，用户可以设置邮件屏蔽词和黑名单拒收特定邮件，也可以设置白名单和特别关注及时获取想要的邮件</li>
		 <p><img src="../static/images/4_4.jpeg" width="1661" height="828"></p>
      </ul>
      <h3 id="writting"> 写信</h3>
      <ul>
        <li>最后一个是写信模块，用户可以在这里写信并发送到想发的邮箱</li>
	   <p><img src="../static/images/4_5.jpeg" width="1661" height="828"></p> 
      </ul>
</div>
  </div>
</section>
<section class="vibrant centered">
  <div class="container">
    <h4> 制作小组：无可奉告 <a href="#"> here</a></h4>
  </div>
</section>
<script src="../static/js/jquery.min.js"></script> 
 
<script type="text/javascript" src="../static/js/prettify/prettify.js"></script> 
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="../static/js/layout.js"></script>
 <script src="../static/js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
 <script src="../static/js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
</body>
</html>
