<!--by 衣春腾-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>邮箱主页</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/fontawesome.css" />
    <link rel="stylesheet" href="../static/css/tooplate-style.css" />
    <link rel="stylesheet" href="../static/css/owl.css" />
    <link rel="stylesheet" href="../static/css/lightbox.css" />
  </head>
  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="../static/images/web.png" alt="Blugoon by Tooplate" /></a>
            </div>
            <div class="author-content">
              
              <span>{{emailuser}}</span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">主页</a></li>
                <li><a href="#section2">邮件</a></li>
                <li><a href="#section3">设置</a></li>
                <li><a href="#section4">写信</a></li>
                <li><a class="help" style="color: #F7F7F7;cursor: pointer;">帮助</a></li>
              </ul>
            </nav>

            <div class="copyright-text">
              <p>
              Design: 无可奉告
              </p>
            </div>
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1">
        <div class="container">
        <div class="top-header">
        	<img src="../static/images/timg.jpg" alt="email-1" />
        </div>
          <div class="section-heading">
            <h2>Welcome to Mailbox</h2>
            <div class="line-dec"></div>
            <span id="hello"> </span><br>
            <p id="amount">&nbsp;&nbsp;在您的收件箱中有{{amount}}封<a rel="find" href="#mails">邮件</a></p>
          </div>

        </div>
      </section>

      <section class="section my-services" id="mails" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <button id="hambtn" class="hambtn" style="margin-left: 30px; border: 0; background: transparent;"><h2 style="color: #2279BD" id="receivebox">收件箱</h2></button>
            <button id="spambtn" class="spambtn" style="margin-left: 30px; border: 0; background: transparent;"><h2 id="rubbishbox">垃圾箱</h2></button>
            <div class="line-dec"></div>
        </div>

      <div id="accordion">
        {% for email in emails %}
        <div class="card">
          <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse{{email.id}}" style="color:#2279BD;">主题:{{email.title}}<p></p>发件人:{{email.from}}</a>
              <button type="button" id="delemail" value={{email.id}} onclick="deletemail({{email.id}})" style = "padding:0;float:right;margin-left:20px;border:0;background-color: #F7F7F7">删除</button>
              <a id = "JQTestOn" class="collapsed card-link" data-toggle="collapse" href="#collapse{{email.id}}" style="float:right;margin-left:20px;color:#2279BD;">详情</a>             
          </div>
          <div id="collapse{{email.id}}" class="collapse" data-parent="#accordion" style="color: #2279BD">
              <p style="color: #2279BD">{{email.content}}</p>
          </div>
        </div> 
        {% endfor %}                       
      </div>
   </div>

      </section>

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>设置</h2>
            <div class="line-dec"></div>
            
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbara">
                <label><input type="radio" data-type="black" checked="" name="isotope-filter" />
                  <span>过滤词</span></label>
                <label><input type="radio" data-type="pretty" name="isotope-filter" />
                  <span>黑名单</span></label>
                <label><input type="radio" data-type="sexy" name="isotope-filter" />
                  <span>白名单</span></label>
                <label><input type="radio" data-type="beach" name="isotope-filter" />
                  <span>特别关注</span></label
                >
              </form>
              <div class="isotope-box">
                <div class="isotope-item" data-type="black">
                  
                    <table class="table table-striped table-hover">
                        <tbody id="blackWord" style="color: #F7F7F7">
                            <tr>
                                <th>序号</th>
                                <th>过滤词</th>
                                <th>操作</th>
                            </tr>
                            {% for w in words %}
                            <tr>
                                <td>1</td>
                                <td>{{w[0]}}</td>
                                <td><button type="button" class="deletebtn"  value="{{w[0]}}" onclick="deleteword({{w[1]}})">删除</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="guolvtable">
                    <form onsubmit="return false">
                        新增垃圾过滤词关键字:<input id="rubbishword" type="text" name="rubbishword" required>
                        <input class="addblackword" type="submit" value="添加" style="border-radius: 5px; " onclick="addblackword()">
                        <input type="reset" value="重置" style="border-radius: 5px; ">
                    </form>
                  </div>
                </div>

                <div class="isotope-item" data-type="pretty">
                  <table class="table table-striped table-hover">
                    <tbody id="blockedFrom" style="color: #F7F7F7">
                        <tr>
                            <th>序号</th>
                            <th>黑名单</th>
                            <th>操作</th>
                        </tr>
                        {% for w in blockedfroms %}
                        <tr>
                            <td>1</td>
                            <td>{{w[0]}}</td>
                            <td><button class="deletebtn1" name="delate1" value={{w[0]}} onclick="deleteblackname({{w[1]}})" >删除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <form onsubmit="return false">
                    新增黑名单成员:<input id="blackname" type="text" name="blackname" required>
                    <input class="addblackname" type="submit" value="添加" style="border-radius: 5px; " onclick="addblackname()">
                    <input type="reset" value="重置" style="border-radius: 5px; ">
                </form>
                </div>

                <div class="isotope-item" data-type="sexy">
                  <table class="table table-striped table-hover">
                  <tbody id="whiteList" style="color: #F7F7F7">
                      <tr>
                          <th>序号</th>
                          <th>白名单</th>
                          <th>操作</th>
                      </tr>
                      {% for w in whitelists %}
                      <tr>
                          <td>1</td>
                          <td>{{w[0]}}</td>
                          <td><button class="deletebtn2" name="delate2" value={{w[0]}} onclick="deletewhitename({{w[1]}})">删除</button></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              <form onsubmit="return false">
                  新增白名单成员:<input id="whitename" type="text" name="whitename" required>
                  <input type="submit" value="添加" style="border-radius: 5px; " onclick="addwhitename()">
                  <input type="reset" value="重置" style="border-radius: 5px; ">
              </form>
              </div>
                <div class="isotope-item" data-type="beach">
                  <table class="table table-striped table-hover">
                  <tbody id="focusList" style="color: #F7F7F7">
                      <tr>
                          <th>序号</th>
                          <th>特别关注</th>
                          <th>操作</th>
                      </tr>
                      {% for w in focusedpeople %}
                      <tr>
                          <td>1</td>
                          <td>{{w[0]}}</td>
                          <td><button class="deletebtn3" name="delate3" value={{w[0]}} onclick="deletefocusname({{w[1]}})">删除</button></td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              <form onsubmit="return false">
                  新增特别关注:<input id="focusname" type="text" name="focusname" required>
                  <input type="submit" value="添加" style="border-radius: 5px; " onclick="addfocusname()">
                  <input type="reset" value="重置" style="border-radius: 5px; ">
              </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>写信</h2>
            <div class="line-dec"></div>
            
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" onsubmit="return false">
                  <div class="row">
                      收件人：<input name="email" type="text" class="form-control"
                      id="email" placeholder="请输入收件人邮箱" required=""  />
                      主题：&nbsp;&nbsp;&nbsp;&nbsp;<input name="subject" type="text" class="form-control" 
                      id="subject" placeholder="Subject..." required="" />
                      内容：<textarea name="message" rows="6" class="form-control"
                      id="message" placeholder="Your message..." required ></textarea>
                    <div class="col-md-12">
                      <fieldset >
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/lightbox.js"></script>
    <script src="../static/js/custom.js"></script>
    <script>
      now = new Date(),hour = now.getHours();
      if(hour<12){document.getElementById("hello").innerHTML = "上午好，无可奉告"}
      else if(hour>12 && hour<18){document.getElementById("hello").innerHTML = "下午好，无可奉告"}
      else if(hour>16 && hour<24){document.getElementById("hello").innerHTML = "晚上好，无可奉告"}

      $(".help").click(function(){
                window.open("docs");
            });
      
      function showlove(){
        $.get("/showfocus",
        function(data){
          if(data=='a'){
            alert("您有特别关注的联系人的来信，请及时查收"+data);
          }
          
        })
        
      }
      showlove();


      function appendmail(id,topic,from,content){
        return '<div class="card">\
                <div class="card-header">\
                <a class="collapsed card-link" data-toggle="collapse" href="#'+id +'" style="color:#2279BD;">主题:'+topic+'<p></p>发件人:'+from+'</a> \
                <button type="button" id="delemail" value="'+id+'" onclick="deletemail('+id+')" style = "padding:0;float:right;margin-left:20px;border:0;background-color: #F7F7F7">删除</button>\
                <a id = "JQTestOn" class="collapsed card-link" data-toggle="collapse" href="#collapse'+id+'" style="float:right;margin-left:20px;color:#2279BD;">详情</a></div>\
                <div id="collapse'+id+'" class="collapse" data-parent="#accordion" style="color: #2279BD">\
                <p>'+content+'</p>\
                </div>\
                </div> '
      }

      function appendmail1(id,topic,from,content){
        return '<div class="card">\
                <div class="card-header">\
                <a class="collapsed card-link" data-toggle="collapse" href="#'+id +'" style="color:#2279BD;">主题:'+topic+'<p></p>发件人:'+from+'</a> \
                <button type="button" id="delemail1" value="'+id+'" onclick="deletespam('+id+')" style = "padding:0;float:right;margin-left:20px;border:0;background-color: #F7F7F7">删除</button>\
                <a id = "JQTestOn" class="collapsed card-link" data-toggle="collapse" href="#collapse'+id+'" style="float:right;margin-left:20px;color:#2279BD;">详情</a></div>\
                <div id="collapse'+id+'" class="collapse" data-parent="#accordion" style="color: #2279BD">\
                <p>'+content+'</p>\
                </div>\
                </div> '
      }


      function clearall(){
        document.getElementById("accordion").innerHTML='';
      }
      
      function deletemail(id){
        $.get("/deletemail",
          {
            Id:id
          },
          function(data){
            datas = eval('('+data+')');
            clearall();
            for(var i = 0;i < datas.length;i++)
            {
              $("#accordion").append(appendmail(datas[i].id,datas[i].title,datas[i].from,datas[i].content))
            }
            alert("删除成功");
          }
          )
      }

      function deletespam(id){
        $.get("/deletespam",
          {
            Id:id
          },
          function(data){
            datas = eval('('+data+')');
            clearall();
            for(var i = 0;i < datas.length;i++)
            {
              $("#accordion").append(appendmail1(datas[i].id,datas[i].title,datas[i].from,datas[i].content))
            }
            alert("删除成功");
          }
          )
      }



      $(document).ready(function(){
        $(".hambtn").click(function(){
          $.get("/showhams",
          function(data){
            datas = eval('('+data+')');
            clearall();
            for(var i = 0;i < datas.length;i++)
            {
              $("#accordion").append(appendmail(datas[i].id,datas[i].title,datas[i].from,datas[i].content))
            }
            $("#receivebox").css("color","#2279BD");
            $("#rubbishbox").css("color","white");
          }
          );
        });
      });


      $(document).ready(function(){
        $(".spambtn").click(function(){

          $.get("/showspams",
          function(data){
            
            datas = eval('('+data+')');
            clearall();
            for(var i = 0;i < datas.length;i++)
            {
              $("#accordion").append(appendmail1(datas[i].id,datas[i].title,datas[i].from,datas[i].content))
            }
            $("#receivebox").css("color","white");
            $("#rubbishbox").css("color","#2279BD");
          }
          )
        })
      })


      function appendtext(i,bword,id){
        return '<tr><td>'+i+'</td><td>' + bword +'</td><td><button class="deletebtn" name="delate" value="' + bword + '" onclick="deleteword('+id+')">删除</button></td></tr>';
      }

      function clearBlackWordText(){
        document.getElementById("blackWord").innerHTML = 
        '<tr><th>序号</th><th>过滤词</th><th>操作</th></tr>';
      }

      function addblackword(){
        var newword = $("#rubbishword").val();
        alert(newword);
        $.get("/addnewword",
          {
            Newword:newword
          },
          function(data){
            datas = eval('(' + data + ')');
            clearBlackWordText();
            for(var i = 0;i < datas.length;i++)
            {
              $("#blackWord").append(appendtext(i,datas[i].key,datas[i].id));
            }
          });
      }


      function deleteword(w){
        
        $.get("/blackwords",
          {
            keyword:w
          },
          function(data){
            datas = eval('(' + data + ')');
            clearBlackWordText();
            for(var i = 0;i < datas.length;i++)
            {
              $("#blackWord").append(appendtext(i,datas[i].key,datas[i].id));
            }
          });
          alert("删除"+w)
      }


      function appendtext1(i,bword,id){
        return '<tr><td>'+i+'</td><td>' + bword +'</td><td><button class="deletebtn1" name="delate1" value="' + bword + '" onclick="deleteblackname('+id+')">删除</button></td></tr>';
      }
      function clearBlockedFromtext(){
        document.getElementById("blockedFrom").innerHTML = 
        '<tr><th>序号</th><th>黑名单</th><th>操作</th></tr>';
      }

      function deleteblackname(w){
        $.get("/blockedfrom",
          {
            keyword1:w
          },
          function(data){
            datas = eval('(' + data + ')');
            clearBlockedFromtext();
            
            for(var i = 0;i < datas.length;i++)
            {
              $("#blockedFrom").append(appendtext1(i,datas[i].key,datas[i].id))
            }
            
          });
      }


      function addblackname(){
        var newbname = $("#blackname").val();
        alert(newbname)
        
        $.get("/addblacknames",
          {
            Newword1:newbname
          },
          function(data){
            datas = eval('(' + data + ')');
            clearBlockedFromtext();
            for(var i = 0;i < datas.length;i++)
            {
              $("#blockedFrom").append(appendtext1(i,datas[i].key,datas[i].id));
            }
          });
      }


      function appendtext2(i,bword,id){
        return '<tr><td>'+i+'</td><td>' + bword +'</td><td><button class="deletebtn2" name="delate2" value="' + bword + '" onclick="deletewhitename('+id+')">删除</button></td></tr>';
      }
      function clearWhitelisttext(){
        document.getElementById("whiteList").innerHTML = 
        '<tr><th>序号</th><th>白名单</th><th>操作</th></tr>';
      }

      function deletewhitename(w)
      {
        $.get("/whitelist",
          {
            keyword2:w
          },
          function(data){
            datas = eval('(' + data + ')');
            clearWhitelisttext();
            
            for(var i = 0;i < datas.length;i++)
            {
              $("#whiteList").append(appendtext2(i,datas[i].key,datas[i].id))
            }
            
          });
      }

      function addwhitename(){
        var newWname = $("#whitename").val();
        alert(newWname);
        $.get("/addwhitenames",
          {
            Newword2:newWname
          },
          function(data){
            datas = eval('(' + data + ')');
            clearWhitelisttext();
            for(var i = 0;i < datas.length;i++)
            {
              $("#whiteList").append(appendtext2(i,datas[i].key,datas[i].id));
            }
          });
      }

      function appendtext3(i,bword,id){
        return '<tr><td>'+i+'</td><td>' + bword +'</td><td><button class="deletebtn3" name="delate3" value="' + bword + '" onclick="deletefocusname('+id+')">删除</button></td></tr>';
      }
      function clearfocuslisttext(){
        document.getElementById("focusList").innerHTML = 
        '<tr><th>序号</th><th>特别关注</th><th>操作</th></tr>';
      }

      function deletefocusname(w){
        $.get("/focuslist",
          {
            keyword3:w
          },
          function(data){
            datas = eval('(' + data + ')');
            clearfocuslisttext();
            
            for(var i = 0;i < datas.length;i++)
            {
              $("#focusList").append(appendtext3(i,datas[i].key,datas[i].id))
            }
            
          });
      }

      function addfocusname(){
        var newFname = $("#focusname").val();
        alert(newFname);
        $.get("/addfocusnames",
          {
            Newword3:newFname
          },
          function(data){
            datas = eval('(' + data + ')');
            clearfocuslisttext();
            for(var i = 0;i < datas.length;i++)
            {
              $("#focusList").append(appendtext3(i,datas[i].key,datas[i].id));
            }
          });
      }


      $(document).ready(function(){
        $(".button").click(function(){
          var Receiver = $("#email").val();
          var Subject = $("#subject").val();
          var Content = $("#message").val();
          
          $.get("/sendmessage",
          {
            receiver:Receiver,
            subject:Subject,
            message:Content
          },
          function(data)
          {
            alert(data);
          });
          
        });
      });


      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>